Flask==1.1.4
GitPython==3.1.27
mysql-connector-python==8.0.28
qrcode==7.3.1
Pillow==9.1.1
Faker==13.14.0
coverage==6.4.1
websockets==10.3
Markdown==3.3.7
pymongo==4.3.2
markupsafe==2.0.1
PyJWT==2.7.0
flask-swagger-ui==4.11.1
apispec==6.3.0