{%- import "_macros/_skeleton_research_macros.jinja" as macro with context -%}
{% extends "_layouts/_skeleton_default.html" %}

{% block title %}CSS Effects{% endblock %}

{% block content -%}

<main style="display: grid; margin: 1em; grid-template-columns: 16em 1fr;">

    {{ macro.side_nav_menu() }}

    <article style="margin-left: 1em;">

        <h1>CSS Effects home</h1>

        <section>

            <h1>Announcements</h1>

            <ol>
                <li class="announcement" style="margin-left: 2.2em;">
                    <h1>New funds needed!</h1>
                    <p>
                        If you like this website, please donate!
                    </p>
                </li>
            </ol>


        </section>

    </article>

</main>

<footer style="align-self: stretch;">
    <div style="margin: 0 1em; display: flex; align-items: center; gap:1.2em; height: 100%;">
        <span>Last update 2023</span>
    </div>

</footer>

{% endblock %}
