{% import "./_macros/_default.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8" />
  <title>{% block title %}Forums{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}ZX Forums{% endblock %}" />
  <meta name="author" content="{% block meta_author %}ONG ZHI XIAN{% endblock %}" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/mdl/material.min.css" />
  <link rel="stylesheet" href="/css/site.css" />
  {% block head_link %}{% endblock %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

  </head>
<body>
  
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{self.title()}}</span>
        <div class="mdl-layout-spacer"></div>
        
        <div class="android-navigation-container">
          <nav class="android-navigation mdl-navigation">
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/forums">Forums</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/mysql">MySql</a>
            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/link-dump">Link Dump</a>
          </nav>
        </div>


        <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
          <li class="mdl-menu__item">Profile</li>
          <li class="mdl-menu__item">Change password</li>
          <li disabled class="mdl-menu__item">Settings</li>
          <li class="mdl-menu__item">Log out</li>
        </ul>


      </div>
    </header>
    
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Sitemap</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">
          <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
          Home</a>
        <a class="mdl-navigation__link" href="/mysql">
          <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">table_rows</i>
          MySql</a>
        <a class="mdl-navigation__link" href="/forum">
          <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">table_rows</i>
          Forum</a>
          <a class="mdl-navigation__link" href="/chart-examples">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">table_rows</i>
            Chart examples</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
      {% block drawer %}{% endblock %}
    </div>
    

    <main class="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col">
          {% block content %}
          <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <div class="page-content"><!-- Your content goes here -->Tab content 1</div>
          </section>
          <section class="mdl-layout__tab-panel" id="scroll-tab-2">
            <div class="page-content"><!-- Your content goes here -->Tab content 2</div>
          </section>
          <section class="mdl-layout__tab-panel" id="scroll-tab-3">
            <div class="page-content"><!-- Your content goes here -->Tab content 3</div>
          </section>
          <section class="mdl-layout__tab-panel" id="scroll-tab-4">
            <div class="page-content"><!-- Your content goes here -->Tab content 4</div>
          </section>
          <section class="mdl-layout__tab-panel" id="scroll-tab-5">
            <div class="page-content"><!-- Your content goes here -->Tab content 5</div>
          </section>
          <section class="mdl-layout__tab-panel" id="scroll-tab-6">
            <div class="page-content"><!-- Your content goes here -->Tab content 6</div>
          </section>
          {% endblock %}
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
      </div>
    </main>

    

    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">{{self.title()}}</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/js/mdl/material.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
