<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Forums{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/site.css" />
    {%- block head_link %}{% endblock %}
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>

    <nav class="blue darken-4">
      <div class="nav-wrapper">
        <span data-target="slide-out" class="sidenav-trigger show-on-large interactive"><i class="material-icons">menu</i></span>
        <a href="/" class="brand-logo">{{self.title()}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- applications -->
          {%- if g.application == None %}
          <!-- <li><a href="/client/dashboard">Anonymous</a></li> -->
          {%- else %}
          <li><a href="/client/dashboard">Clients</a></li>
          <li><a href="/portfolio/dashboard">Portfolios</a></li>
          {% endif %}

          <li><a href="/user/dashboard">Users</a></li>
          <li><a href="/role/dashboard">Roles</a></li>

          {%- if g.username %}
          <!-- 
          <li><a href="/logout" title="Log out">
            <i class="material-icons">logout</i>
          </a></li> 
          -->
          {%- endif %}
          <!-- <li><a href="collapsible.html">Miscellaneous</a></li> -->
        </ul>
      </div>
    </nav>

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="/images/placeholders/office.jpg">
          </div>

          <a href="#user"><img class="circle" src="/images/placeholders/yuna.jpg"></a>
          
          <span class="white-text name">
            <a class="white-text" href="/user/profile">{{ g.username }}</a>
            <a href="/logout" class="white-text" title="Log out" style="vertical-align: middle;"><i class="material-icons">logout</i></a>
          </span>
          <a href="#email"><span class="white-text email">&nbsp;</span></a>
        </div>
      </li>

      <li><a href="/"><i class="material-icons">home</i>Home</a></li>
      
      <li><div class="divider"></div></li>
      <li><a class="subheader">Applications</a></li>
      <li><a href="/investment/dashboard">Investment</a></li>
      <li><a href="/trade/dashboard">Trade</a></li>
      <li><a href="/logistics/dashboard">Logistics</a></li>
      <!-- <li><a href="/other/dashboard">Others...</a></li> -->

      <li><div class="divider"></div></li>
      <li><a class="subheader">Administration</a></li>
      <li><a class="waves-effect" href="/database/dashboard">Database</a></li>
      <li><a class="waves-effect" href="/feature/dashboard">Feature</a></li>
      {%- for menu_item in drawer_admin_menu %}
      <li><a class="waves-effect" href="{{menu_item.href}}">{{menu_item.display_text}}</a></li>
      {% endfor %}
    </ul>
    {% block content %}Place content here{% endblock %}
    <script type="text/javascript" src="/js/materialize/materialize.min.js"></script>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var side_nav_element_list = document.querySelectorAll('.sidenav');
        var side_nav_list = M.Sidenav.init(side_nav_element_list);
    });
    </script>
    {%- block scripts %}{% endblock %}
  </body>
</html>
