{% import "./_macros/_default.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8" />
  <title>{% block title %}Forums{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}ZX Forums{% endblock %}" />
  <meta name="author" content="{% block meta_author %}ONG ZHI XIAN{% endblock %}" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/mdl/material.min.css" />
  <link rel="stylesheet" href="/css/site.css" />
  {% block head_link %}{% endblock %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

  </head>
<body>
  
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{self.title()}}</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Link 1</a>
          <a class="mdl-navigation__link" href="">Link 2</a>
          <a class="mdl-navigation__link" href="">Link 3</a>
          <a class="mdl-navigation__link" href="">Link 4</a>
        </nav>
      </div>
    </header>

    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Sitemap</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">
          <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
          Home</a>
        <a class="mdl-navigation__link" href="/mysql">
          <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">table_rows</i>
          MySql</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
      {% block drawer %}{% endblock %}
    </div>
    

    <main class="mdl-layout__content">
      {% block content %}
      <div class="page-content"><!-- Your content goes here --></div>
      {% endblock %}
    </main>


    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">{{self.title()}}</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/js/mdl/material.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
