{% extends "_layouts/_home.html" %}

{% block title %}User profile{% endblock %}

{% block head_link %}<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}

{% block content %}
<div class="page-content">

  <!-- <div class="breadcrumb-row">
    <a href="/client/dashboard">User dashboard</a>
    <span class="material-icons">chevron_right</span>
    <span>New user</span>
    <span class="material-icons">chevron_right</span>
    <span>Password test</span>
  </div> -->
  
  <p>To do: some user profile</p>


</div>

{% endblock %}

{% block scripts %}{% endblock %}