{% extends "_layouts/_home.html" %}

{% block title %}Add user{% endblock %}

{% block head_link %}<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}

{% block content %}

<div class="page-content">

  <div class="breadcrumb inline">
    <a href="/user/dashboard"> User</a>
    <span class="material-icons">chevron_right</span>
    <span>Add</span>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
  
    <form method="post" autocomplete="on">

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username" name="username">
            <label class="mdl-textfield__label" for="username">Username</label>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--8-col"></div>

        <div class="mdl-cell mdl-cell--4-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password" name="password">
            <label class="mdl-textfield__label" for="password">Password</label>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--8-col"></div>
      </div>

      <div class="mdl-cell mdl-cell--4-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Add</button>
      </div>
      <div class="mdl-cell mdl-cell--8-col"></div>

      
      <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Password</label>
      </div> -->

    </form>
     
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
  </div>


  
  <div class="card-holder">

    <!-- 
    <div class="display-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <span class="mdl-card__title-text">Database version</span>
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        <span class="counter-text">1</span>
      </div>
    </div> 
    -->


    <!-- 
    <div class="display-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <span class="mdl-card__title-text">Database version 2</span>
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        <span class="counter-text">1</span>
      </div>
    </div>
    -->

  </div>

  <div class="mdl-mini-footer fab">
    <div class="mdl-mini-footer--left-section"></div>
    <div class="mdl-mini-footer--right-section">
      <!-- <a href="/user/add" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
      </a> -->
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}{% endblock %}