{% extends "_layouts/_home.html" %}

{% block title %}User profile{% endblock %}

{% block head_link %}<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}

{% block content %}
<div class="page-content">

  <!-- <div class="breadcrumb-row">
    <a href="/client/dashboard">User dashboard</a>
    <span class="material-icons">chevron_right</span>
    <span>New user</span>
    <span class="material-icons">chevron_right</span>
    <span>Password test</span>
  </div> -->

    <div class="container">
      <div class="row">
        <div class="col s4">
          <p>To do: some user profile</p>

          <form action="#">

            <div style="text-align:center;">
              <img src="/images/profile/profile-01.png">
            </div>

            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="A 150x150 portrait">
              </div>
            </div>
          </form>

        </div>
      </div>


    </div>  
  
    
    
          


</div>

{% endblock %}

{% block scripts %}{% endblock %}