{% extends "_layouts/_home.html" %}

{% block title %}Shared-data country{% endblock %}

{% block head_link %}<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}

{% block content %}

<div class="page-content">

  <div class="breadcrumb inline">
    <a href="/shared-data/dashboard">Dashboard</a>
    <span class="material-icons">chevron_right</span>
    <span>Country</span>
  </div>

  
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">

      {% if not country_list %}

      <div>
        <p>No country data.</p>
      </div>

      {% else %}

      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp user full-width" style="margin: 1em;">
        <thead>
          <tr>
            <th>s/n</th>
            <th class="mdl-data-table__cell--non-numeric full-width">Name</th>
            <th class="mdl-data-table__cell--non-numeric full-width">Alpha-2</th>
            <th class="mdl-data-table__cell--non-numeric full-width">Alpha-3</th>
            <th class="mdl-data-table__cell--non-numeric full-width">M49</th>

          </tr>
        </thead>
        <tbody>
          {% for country in country_list %}
          <tr>
            <td>{{country[0]}}</td>
            <td class="mdl-data-table__cell--non-numeric" data-id="a"><a href="#">{{country[1]}}</a></td>
            <td class="mdl-data-table__cell--non-numeric" data-id="a"><a href="#">{{country[2]}}</a></td>
            <td class="mdl-data-table__cell--non-numeric" data-id="a"><a href="#">{{country[3]}}</a></td>
            <td class="mdl-data-table__cell--non-numeric" data-id="a"><a href="#">{{country[4]}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <div class="paginator">
                <a href="/shared-data/country-test?page={{prev_page}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Prev</a>
                <a href="/shared-data/country-test?page={{next_page}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Next</a>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>  
      
      {% endif %}

    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
  </div>
  

  <div class="mdl-mini-footer fab" style="width:50%">
    <div class="mdl-mini-footer--left-section"></div>
    <div class="mdl-mini-footer--right-section"></div>
  </div>

</div>

{% endblock %}

{% block scripts %}{% endblock %}