{% extends "_layouts/_skeleton_default.html" %}

{% block title %}Research{% endblock %}

{% block content -%}

<main style="display: grid; margin: 1em; grid-template-columns: 16em 1fr;">

    <nav class="nav-menu" aria-label="nav-menu" style="display: flex; flex-direction: column; align-self: 100%;">
        <span style="font-size:1.8em">Software</span>
        <a href="#">CSS Frameworks</a>
        <a href="#">Web Frameworks</a>
        <a href="#">Charts</a>
        <a href="#">Programming Languages</a>
        <a href="#">Message Queues</a>
        <span>&nbsp;</span>
        
        <span style="font-size:1.8em">Performance</span>
        <span>C#</span>
        <span>Javascript</span>
        <span>Python</span>
        <span>&nbsp;</span>

        <span style="font-size:1.8em">Markets</span>
        <span>Commodities</span>
        <span>Equities</span>
        <span>F/X</span>
        <span>Gas</span>
        <span>Exchanges</span>
        <span>&nbsp;</span>

        <span style="font-size:1.8em">Psychology</span>
        <a href="#">Engineering Practices</a>
        <span>Software Development Psychology</span>
        <span>Secure Software Psychology</span>
        <span>Trading Psychology</span>
        <span>&nbsp;</span>

        <span style="font-size:1.8em">Entropy</span>
        <span>649</span>
        <span>RNGs</span>
        <span>&nbsp;</span>
    </nav>

    <article style="margin-left: 1em;">

        <h1>Research home</h1>


        <section>

            <h1>Announcements</h1>

            <ol>
                <li class="announcement" style="margin-left: 2.2em;">
                    <h1>New funds needed!</h1>
                    <p>
                        If you like this website, please donate!
                    </p>
                </li>
            </ol>

            <div class="announcement" style="margin-left: 2.2em;">
                <h1>Server maintenance</h1>
                <p>
                    A server maintenance will be conducted this Thursday from 1:00 AM to 1:15 AM SGTx
                </p>
            </div>

            <div class="announcement" style="margin-left: 2.2em;">
                <h1>Gnet feature deployment</h1>
                <p>

                    There will be a feature deployment for Gnet this Saturday from 1:00 AM to 1:15 AM SGT.<br />
                    The following features will be deployed:

                </p>

                <ol>
                    <li>Guest</li>
                    <li>Company registration</li>
                </ol>
            </div>
        </section>



    </article>


</main>

<footer style="align-self: stretch;">
    <div style="margin: 0 1em; display: flex; align-items: center; gap:1.2em; height: 100%;">
        <span>Last update 2023</span>
    </div>

</footer>

{% endblock %}
