{#  PLACEHOLDER 
    The purpose of this file is to define macros used in _default layout.
    _default layout is meant for use with pages that are accessed by public 
    ie. Users who have yet to be authenticated with application.
#}

{% macro drawer() %}
{% 
    set menu_items = [
        { 'href' : "/",         'text' : "Home", 'view_id' : 'pages.site.webroot_get'},
        { 'href' : "/about",    'text' : "About us" },
        { 'href' : "/contact",  'text' : "Contact us" },
        { 'href' : "#",         'text' : "Link 3" },
        { 'href' : "#",         'text' : "Link 4" },
        ]
%}
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/mysql">MySql Administration xx</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
</nav>
{% endmacro %}

{% macro test_function(param1) %}
{% 
    set menu_items = [
        { 'href' : "/",         'text' : "Home", 'view_id' : 'pages.site.webroot_get'},
        { 'href' : "/about",    'text' : "About us" },
        { 'href' : "/contact",  'text' : "Contact us" },
        { 'href' : "#",         'text' : "Link 3" },
        { 'href' : "#",         'text' : "Link 4" },
        ]
%}

{% if param1 == "display" %}
    {% for item in menu_items %}
    <a href="{{item.href}}" class="btn btn-link">{{item.text}}</a>
    {%- endfor %}
{% else %}
    <span>DO NOT DISPLAY ANYTHING</span>
{% endif %}
{% endmacro %}

{% macro shared_drawer() %}
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
      Home</a>
    <a class="mdl-navigation__link" href="/mysql">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">table_rows</i>
      MySql</a>
    <a class="mdl-navigation__link" href="/forum">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">table_rows</i>
      Forum</a>
    <a class="mdl-navigation__link" href="/chart-examples">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">table_rows</i>
      Chart examples</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <hr/>
    <span class="header">Administration</span>
    <a class="mdl-navigation__link" href="/user/status">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">table_rows</i>
      Users</a>
    <a class="mdl-navigation__link" href="/database/dashboard">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">table_rows</i>
      Database</a>
</nav>
{% endmacro %}