{% extends "_layouts/_home.html" %}

{% block title %}Feature dashboard{% endblock %}

{% block head_link %}<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}

{% block content %}

<div class="page-content">

  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp user" style="margin: 1em;">
    <thead>
      <tr>
        <th>s/n</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Description</th>
        <th class="mdl-data-table__cell--non-numeric">Toggle</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td class="mdl-data-table__cell--non-numeric">
          <a href="#">Authentication</a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          Enables authentication module
        </td>
        <td>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
              <input type="checkbox" id="switch-1" class="mdl-switch__input">
              <span class="mdl-switch__label"></span>
            </label>
          </td>
      </tr>
      <tr>
        <td>2</td>
        <td class="mdl-data-table__cell--non-numeric">
          <a href="#">Login</a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          Enables login module
        </td>
        <td>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
              <input type="checkbox" id="switch-2" class="mdl-switch__input">
              <span class="mdl-switch__label"></span>
            </label>
          </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" style="text-align: left;">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <span class="material-icons">navigate_before</span>
          </button>
          
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <span class="material-icons">navigate_next</span>
          </button>

          <span>Page 1 of 2 (record 1 to 25)</span>
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="action-panel">
    <a href="/feature/register" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Register</a>

    <!-- <form method="post" action="/database/apply-update" onsubmit="applyUpdates()" class="inline">
        <button type="submit" id="applyUpdatesButton" name="action" value="apply-update"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" disabled>Register222</button>
        <input type="hidden" name="updateIdList" id="updateIdList" value="" />
    </form> -->
  </div>

</div>

{% endblock %}

{% block scripts %}{% endblock %}