{% extends "_layouts/_home.html" %}

{% block title %}Feature register{% endblock %}

{% block head_link %}<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}

{% block content %}

<div class="page-content">

  <div class="breadcrumb inline">
    <a href="/feature/dashboard">Dashboard</a>
    <span class="material-icons">chevron_right</span>
    <span>Register</span>
  </div>

  <!-- <p>
    When we come to this page, we 
  </p> -->

  <div class="mdl-grid">
    
    <div class="mdl-cell mdl-cell--9-col">
      <div class="card-holder">

        <div class="display-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <span class="mdl-card__title-text">Registered features</span>
          </div>
          <div class="mdl-card__supporting-text mdl-card--expand">
            <span class="counter-text">
              {{registered_feature_count}} / ?
            </span>
          </div>
        </div>
    
    
        <!-- 
        <div class="display-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <span class="mdl-card__title-text">Database version 2</span>
          </div>
          <div class="mdl-card__supporting-text mdl-card--expand">
            <span class="counter-text">1</span>
          </div>
        </div>
        -->
    
      </div>


      <div class="card-holder">

        <!-- <div class="display-card mdl-card mdl-shadow--2dp">
          
          <div class="mdl-card__title">
            <span class="mdl-card__title-text">Pending database updates</span>
          </div>

          <div class="mdl-card__supporting-text mdl-card--expand">
            <span class="counter-text">
              asd
            </span>  
          </div>

          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/database/update">
              View updates
            </a>
            <form method="post" action="/database/update">
              <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" value="discover-updates">Discover updates</button>
            </form>
          </div>
        </div> -->
    
        <!-- 
        <div class="display-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <span class="mdl-card__title-text">Database version</span>
          </div>
          <div class="mdl-card__supporting-text mdl-card--expand">
            There are currently 00 updates.
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Discover updates
            </a>
          </div>
        </div> 
        -->
    
      </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
      <div class="action-panel column">

        <h2>Actions</h2>

        <!-- <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Register</a>

        <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Diagnose</a> -->
    
        <form method="post" action="/feature/register" class="column">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
              type="submit" name="action" value="register-built-in">Register built-in</button>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
              type="submit" name="action" value="diagnose">Diagnose</button>
        </form>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}{% endblock %}