{% extends "_layouts/_home.html" %}

{% block title %}Feature dashboard{% endblock %}

{% block head_link %}{% endblock %}

{% block content %}

<div class="page-content">

  <div class="container">

    <div class="row">

      <div class="col s12">
        <table class="">
          <thead>
            <tr>
                <th>s/m</th>
                <th>Name</th>
                <th>Description</th>
                <th>Is enable</th>
            </tr>
          </thead>
          <tbody>
      
            {% for feature in feature_list %}
            <tr>
              <td>{{loop.index}}</td>
              <td><a href="/feature/{{ feature[1] | replace(' ', '-') | lower }}">{{feature[1]}}</a></td>
              <td>{{feature[2]}}</td>
              <td>
                <div class="switch">
                  <label>
                    Disable 
                    <input type="checkbox" checked><span class="lever"></span>
                    Enabled
                  </label>
                </div>
                
                {{feature[4]}}

              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    
  </div>


  <div class="card-holder container row">
    <div class="display-card col s3">
      <div class="card-panel blue-grey lighten-5">
        <div class="header">
          <span class="title">Note</span>
        </div>
        <p class="blue-grey-text">
          Yeah this is stupid too. 🤔
        </p>
        <p class="blue-grey-text">
          The features should be automatically registered as part of the process.
        </p>
      </div>  
    </div>
  </div>

</div><!-- end of page-content -->

<div id="notification-toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button" title="notification-toast"></button>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-cell mdl-cell--6-col">

    {% if feature_list %}

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp user full-width" style="margin: 1em;">
      <thead>
        <tr>
          <th>s/n</th>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric">Is enable</th>
          
        </tr>
      </thead>
      <tbody>
        {% for feature in feature_list %}
        <tr>
          <td>{{loop.index}}</td>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="/feature/{{ feature[1] | replace(' ', '-') | lower }}">{{feature[1]}}</a>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            {{feature[2]}}
          </td>
          <td>
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="{{feature[1]|lower}}-enable" title="{%- if feature[4] %} Feature enabled {% else %} Feature disabled {% endif %}">
                <input type="checkbox" id="{{feature[1]|lower}}-enable" class="mdl-switch__input" name="{{feature[1]|lower}}-enable" 
                {%- if feature[4] %} checked {% endif %} data-feature-name="{{feature[1]}}" />
              </label>
            </td>
        </tr>
        {% endfor %}
        
        <!-- 
        <tr>
          <td>1x</td>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="#">Authentication</a>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            Enables authentication module
          </td>
          <td>
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                <input type="checkbox" id="switch-1" class="mdl-switch__input">
                <span class="mdl-switch__label"></span>
              </label>
            </td>
        </tr> 
        -->
  
      </tbody>
      <!--
      <tfoot>
        <tr>
          <td colspan="2" style="text-align: left;">
            <button class="mdl-button mdl-js-button mdl-button--icon">
              <span class="material-icons">navigate_before</span>
            </button>
            
            <button class="mdl-button mdl-js-button mdl-button--icon">
              <span class="material-icons">navigate_next</span>
            </button>
  
            <span>Page 1 of 2 (record 1 to 25)</span>
          </td>
        </tr>
      </tfoot>
      -->
    </table>
    {% else %}
    <p>No features registered.</p>
    {% endif %}
  
  
    <div class="action-panel" style="margin: 1em;">
      <a href="/feature/register" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Register</a>
      <!-- <form method="post" action="/database/apply-update" onsubmit="applyUpdates()" class="inline">
          <button type="submit" id="applyUpdatesButton" name="action" value="apply-update"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" disabled>Register222</button>
          <input type="hidden" name="updateIdList" id="updateIdList" value="" />
      </form> -->
    </div>

  </div>
  <div class="mdl-cell mdl-cell--3-col"></div>
</div>


<form method="post" id="toggle_update_form">
  <input type="hidden" name="toggle_name" value="" id="toggle_update_form__toggle_name" />
  <input type="hidden" name="toggle_value" value="" id="toggle_update_form__toggle_value" />
</form>

{% endblock %}

{% block scripts %}
<script src="/js/jquery/jquery-3.5.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    "use strict";

    (function ($) {
      var form_sent = false;
      var snackbarContainer = document.querySelector('#notification-toast');

      function updateFeatureToggle(event) {
          $.ajax({
            method: "POST",
            url: '/api/feature/toggle',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 
              "feature_name": event.target.dataset["featureName"], 
              "value": event.target.checked
            })
          }).done(function( msg ) {
            snackbarContainer.MaterialSnackbar.showSnackbar({ message: msg });
          }).fail(function(a, b, c) {
            snackbarContainer.MaterialSnackbar.showSnackbar({ message: "An error has occurred" });
          }).always(function (a, b, c) {
          });
      }

      function postToggleUpdateForm(event) {
        console.debug("form_sent", form_sent);
        if (form_sent)
          return;

        var toggle_name = document.querySelector('#toggle_update_form__toggle_name');
        var toggle_value = document.querySelector('#toggle_update_form__toggle_value');
        toggle_name.value = event.target.dataset['featureName'];
        toggle_value.value = event.target.checked;
        document.getElementById("toggle_update_form").submit();
        form_sent = true;
      }

      // Need we figure out a better way refresh UI
      $(document).on("change", ".mdl-switch__input", updateFeatureToggle);
      
      // Kept for reference:
      // $(document).on("change", ".mdl-switch__input", postToggleUpdateForm);

    }(jQuery));

</script>
{% endblock %}