{#  macros used in _default layout. #}
{% macro side_nav_menu() -%}
<nav class="nav-menu" aria-label="nav-menu" style="display: flex; flex-direction: column; align-self: 100%;">

    <span style="font-size:1.8em">CSS Effects</span>
    <a href="/research/css-effects/css-curves">Curves</a>
    <a href="/research/css-effects/">Effect 2</a>
    <span>&nbsp;</span>

    <span style="font-size:1.8em">Shaders</span>
    <a href="/research/css-effects">Shader 1</a>
    <a href="/research/css-effects">Shader 2</a>
    
    <span>&nbsp;</span>

    <span style="font-size:1.8em">Software</span>
    <a href="#">CSS Frameworks</a>
    <a href="#">Web Frameworks</a>
    <a href="#">Charts</a>
    <a href="#">Programming Languages</a>
    <a href="#">Message Queues</a>
    <span>&nbsp;</span>
    
    <span style="font-size:1.8em">Performance</span>
    <span>C#</span>
    <span>Javascript</span>
    <span>Python</span>
    <span>&nbsp;</span>

    <span style="font-size:1.8em">Markets</span>
    <span>Commodities</span>
    <span>Equities</span>
    <span>F/X</span>
    <span>Gas</span>
    <span>Exchanges</span>
    <span>&nbsp;</span>

    <span style="font-size:1.8em">Psychology</span>
    <a href="#">Engineering Practices</a>
    <span>Software Development Psychology</span>
    <span>Secure Software Psychology</span>
    <span>Trading Psychology</span>
    <span>&nbsp;</span>

    <span style="font-size:1.8em">Entropy</span>
    <span>649</span>
    <span>RNGs</span>
    <span>&nbsp;</span>
</nav>
{%- endmacro %}