:root {
    --header-font: 'Trocchi', serif;
    --text-font:'Source Sans 3', sans-serif;
}

body {
    font-family: var(--text-font);
}

h1,h2,h3,h4,h5,h6,.title,.subtitle {
    font-family: var(--header-font);
}