:root {
    /* --header-font: 'Trocchi', serif;
    --text-font:'Source Sans 3', sans-serif; 
    font-family: 'Nova Mono', monospace;
    font-family: 'Raleway', sans-serif;
    */

    --color1: #151f05;
    --color2: #364034;
    --color3: #444916;
    --color4: #7b7f38;
    --color5: #5e683f;
    --color6: #5c6a77;
    --color7: #97a49d;

    --font1: 'Raleway', sans-serif;
    --font2: 'Nova Mono', monospace;
}

body {
    background-color: var(--color1);
    color: var(--color7);
}

nav.navbar {
    background-color: var(--color2);
    border-bottom: var(--color2) .3em outset;
    /* border-color: var(--color3); */
}

nav.nav-menu {
    background-color: var(--color2);
    border-radius: .36em;
    padding: 1em;
}

footer {
    /* border-top: var(--color2) .3em solid; */
    background-color: var(--color1);
    text-transform: lowercase;
    text-decoration: dotted;
}

li::marker {
    /* content: '✝ '; */
    font-size: 2.2em;
}

div.metric {
    display: inline-block;
    margin-right: .67em;
}

div.metric span.label {
    font-weight: bold;
}
div.metric span.value {
    font-family: var(--font2);
}

button.minimal {
    border: 0;
    margin: 0;
    padding: 0;
    line-height: initial;
    color: var(--color7);
    height: auto;
}

input.small-number{
    background: none;
    width: 5em;
    text-align: center;
    margin: 0 .36em;
    height: auto;
}

input.MMBtu {
    background: none;
    width: 5em;
    margin:0;
}

table.nomination-input caption{
    font-weight: bold;
}

table.nomination-input td {
    border:0;
}