{% extends "_layouts/_home.html" %}

{% block title %}Clients{% endblock %}

{% block head_link %}{% endblock %}

{% block content %}

<div class="page-content">

  <!-- <div class="breadcrumb inline">
    <a href="/shared-data/dashboard">Dashboard</a>
    <span class="material-icons">chevron_right</span>
    <span>Market identifier codes</span>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col s12">
        <form method="post">
          <div class="input-field inline">
            <input type="text" id="client_name_field" name="client_name_field" value="{{search_term}}">
            <label for="client_name_field">Client name</label>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col s6">

        <table>
          <thead>
            <tr>
                <th>s/n</th>
                <th>Name</th>
            </tr>
          </thead>
      
          <tbody>
            {% for client in client_list %}
            <tr>
              <td>{{client[0]}}</td>
              <td class="full-width">{{client[2]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      <div class="col s6"></div>
    </div>

    <div class="footer action container">
      <div class="row">

        <div class="col s6"></div>
        <div class="col s6 right-align">
          <a href="/client/new" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>

  </div>


</div>

{% endblock %}

{% block scripts %}{% endblock %}