{% extends "_layouts/_home.html" %}

{% block title %}Clients{% endblock %}

{% block head_link %}<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}

{% block content %}

<div class="page-content">

  <!-- <div class="breadcrumb inline">
    <a href="/shared-data/dashboard">Dashboard</a>
    <span class="material-icons">chevron_right</span>
    <span>Market identifier codes</span>
  </div> -->

  <div class="mdl-grid ">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th>Client Id</th>
            <th>Domicile</th>
            <th>Asset value</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Acrylic</td>
            <td>25</td>
            <td>US</td>
            <td>$2.90</td>
            <td class="mdl-data-table__cell--non-numeric">OK</td>
            <td>
              <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="login-dropdown-button">
                <span class="material-icons">more_vert</span>
              </button>
            </td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Plywood</td>
            <td>50</td>
            <td>SG</td>
            <td>$1.25</td>
            <td class="mdl-data-table__cell--non-numeric">OK</td>
            <td>
              <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="login-dropdown-button">
                <span class="material-icons">more_vert</span>
              </button>
            </td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Laminate</td>
            <td>10</td>
            <td>US</td>
            <td>$2.35</td>
            <td class="mdl-data-table__cell--non-numeric">OK</td>
            <td>
              <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="login-dropdown-button">
                <span class="material-icons">more_vert</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>

    <div class="mdl-cell mdl-cell--3-col"></div>
  </div>






  <div class="mdl-mini-footer fab" style="width:50%">
    <div class="mdl-mini-footer--left-section">
      <form method="post">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="action" value="Create tables">Create mock data</button>
      </form>
    </div>
    <div class="mdl-mini-footer--right-section">
      <a href="/client/new" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <span class="material-icons">add</span>
      </a>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}{% endblock %}