{% extends "_layouts/_wms.html" %}
{%
    set SN, ID, NAME, TYPE_NAME = 0, 1, 2, 3
%}

{% block content %}

<div class="page-content">

  {{ macros.breadcrumb(breadcrumbs) }}

  <div class="container">

    <div class="row">
      <div class="col s12">

        {% if location_list %}

        <table>
          <thead>
            <tr>
                <th>Name</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
          </tbody>
        </table>
        
        {% else %}

        <p>No data</p>

        {% endif %}

      </div>

    </div><!-- end-of-row -->
  </div><!-- end-of-container -->
</div><!-- end-of-page-content -->

<div class="fixed-action-btn">
  <a class="btn-floating btn-large blue" href="#add-location">
    <i class="large material-icons">add</i>
  </a>
  <!--
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
  -->
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var instances = M.FloatingActionButton.init(document.querySelectorAll('.fixed-action-btn'));
  });
</script>
{% endblock %}