{% extends "_layouts/_home.html" %}

{% block title %}WMS{% endblock %}

{% block content %}

    <!-- <div class="page-contentz"> -->

      <div class="container" style="max-width:100%; width:100%;">
        <!-- Need to think more the design 
        <div class="wms-toolbar" style="margin:0.367em;">
          <a class="menu-trigger" href="#toggle-menu" title="Display/Hide menu"><i class="material-icons">menu_open</i></a>
        </div>
        -->

        <div class="row">
          <div class="col s2">
            <ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Receive</div>
                <div class="collapsible-body">
                  <div class="collection">
                    <div class="collection-item interactive" data-module-name="Receiving" title="Receiving">Receiving</div>
                    <div class="collection-item interactive" data-module-name="Received" title="Received">Received</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">local_shipping</i>Send</div>
                <div class="collapsible-body">
                  <div class="collection">
                    <div class="collection-item interactive" data-module-name="Sending" title="Sending">Sending</div>
                    <div class="collection-item interactive" data-module-name="Picking" title="Picking">Picking</div>
                    <div class="collection-item interactive" data-module-name="Packing" title="Packing">Packing</div>
                    <div class="collection-item interactive" data-module-name="Sent" title="Sent">Sent</div>
                    <!-- 
                    <a href="#!" class="collection-item">Sending</a>
                    <a href="#!" class="collection-item">Picking</a>
                    <a href="#!" class="collection-item">Packing</a>
                    <a href="#!" class="collection-item">Sent</a>
                    -->
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">laptop_chromebook</i>Reference Data</div>
                <div class="collapsible-body">
                  <div class="collection">
                    <div class="collection-item interactive" data-module-name="Item Data" title="Item Data">Item Data</div>
                    <div class="collection-item interactive" data-module-name="Suppliers" title="Suppliers">Suppliers</div>
                    <div class="collection-item interactive" data-module-name="Customers" title="Customers">Customers</div>
                    <div class="collection-item interactive" data-module-name="Location" title="Location">Location</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">paid</i>Billing</div>
                <div class="collapsible-body">
                  <div class="collection">
                    <div class="collection-item interactive" data-module-name="Invoice" title="Invoice">Invoice</div>
                    <div class="collection-item interactive" data-module-name="Credit Note" title="Credit Note">Credit Note</div>
                    <div class="collection-item interactive" data-module-name="Customer Data" title="Customer Data">Customer Data</div>
                  </div>
                </div>
              </li>
              
              <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Reports</div>
                <div class="collapsible-body">
                  <div class="collection">
                    <a href="#!" class="collection-item">Billing reports</a>
                    <a href="#!" class="collection-item">Inventory reports</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col s10" id="app_content">
            <!-- Content here -->
          </div>
        </div>
      </div>

    </div><!-- end-of-page-content -->

{% endblock %}


{% block scripts %}
<script type="text/javascript">
    "use strict";

    var collapsibles;

    function initializeComponents() {
      collapsibles = M.Collapsible.init(document.querySelectorAll('.collapsible'));
    }

    document.addEventListener('DOMContentLoaded', function() {
      // Initialize state
      // window.history.replaceState(state, null, "");
      initializeComponents();
    });

    // window.onpopstate = function (event) {
    //   console.log('pop state');
    //   if (event.state) { 
    //     state = event.state; 
    //   }  
    //   render(state); // See example render function in summary below
    // };

    function getPage(pageName) {
      fetch(`/api/wms/${pageName}`)
        .then(function(response) {
          return response.text();
        })
        .then(function(data) {
          document.getElementById('app_content').innerHTML = data;
          // Update state
          // window.history.pushState(state, null, "");
        })
        .catch(function(e) {
          console.error(e);
        });
    }

    function postForm(id) {
      let form = document.getElementById(id);
      let formData = new FormData(form);
      for (const [key, value] of formData) {
        console.log(`formData has: ${key}: ${value}\n`);
      }

      fetch(form.action, {
        method: 'POST',
        // We should not need to set headers for FormData; the browser will automatically set them together with the boundary delimiter
        // headers: {
        //   // 'Content-Type': 'application/json'
        //   // 'Content-Type': 'application/x-www-form-urlencoded',
        //   //'Content-Type': 'multipart/form-data'//
        // },
        body: formData
      })
        .then(function(response) {
          return response.text();
        })
        .then(function(data) {
          document.getElementById('app_content').innerHTML = data;
          // Update state
          // window.history.pushState(state, null, "");
        })
        .catch(function(e) {
          console.error(e);
        });
    }

    document.querySelectorAll('.collection-item.interactive').forEach(function(a) {
      a.addEventListener('click', function(e) {
        var module_name = e.target.dataset.moduleName;
        getPage(module_name);
      });
    });


</script>
{% endblock %}
