{% extends "_layouts/_wms.html" %}

{% block content %}

<form method="post" action="/api/wms/location/add" id="add_location_form">

  <!-- 
  <div class="row">
    
    <div class="input-field col s3">
      <select name="parent_location_type_field">
        <option value="" disabled selected>Parent location type</option>
        {% for location_type in location_type_list %}
        <option value="{{ location_type[0] }}">{{ location_type[1] }}</option>
        {% endfor %}
      </select>
      <label>Parent Location Type</label>
    </div>

    <div class="input-field col s6">
      <input id="parent_location_name_field" name="parent_location_name_field" type="text" class="validate">
      <label for="parent_location_name_field">Parent Location Name</label>
    </div>
    
  </div>
  -->
  <div class="row">
    <p>List of sub-locations (if any)</p>
    <p>Ideally this should also be some indicator of area and storage capacity.</p>

  </div>

  <div class="row">
    
    <div class="input-field col s3">
      <select name="location_type_field">
        <option value="" disabled selected>Choose location type</option>
        {% for location_type in location_type_list %}
        <option value="{{ location_type[0] }}">{{ location_type[1] }}</option>
        {% endfor %}
      </select>
      <label>Location Type</label>
    </div>

    <div class="input-field col s6">
      <input id="location_name_field" name="location_name_field" type="text" class="validate">
      <label for="location_name_field">Location Name</label>
    </div>

  </div>

  <div class="row">
    <button type="button" class="waves-effect waves-light btn" onclick="app.postForm('add_location_form');">Add sub-location</button>
  </div>

</form>

<!-- <script class="page" type="text/javascript" src="/js/test.js"></script> -->
<script type="text/javascript">
  "use strict";
  var selects = M.FormSelect.init(document.querySelectorAll('select'));
</script>

{% endblock %}
