{% extends "_layouts/_home.html" %}

{% block title %}User dashboard{% endblock %}

{% block content %}
<div class="page-content">
  <div class="container">

    <div class="row">
      <div class="col s12">

        {% if record_list %}
        <table>
          <thead>
            <tr>
                <th>s/n</th>
                <th>Role</th>
                <th>Count</th>
            </tr>
          </thead>
  
          <tbody>
            {% for record in record_list %}
            <tr>
              <td>{{ record[0] }}</td>
              <td>{{ record[2] }}</td>
              <td>TODO</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}

        <p>No record found.</p>

        {% endif %}

      </div>
    </div>

  </div>

</div>

<div class="fixed-action-btn">
  <a href="/role/add" class="btn-floating btn-large blue">
    <i class="large material-icons">add</i>
  </a>
</div>
{% endblock %}

{% block scripts %}{% endblock %}