{% extends "_layouts/_home.html" %}

{% block title %}File upload{% endblock %}

{% block content %}
    <div class="page-content">
      
      <div id="dropZone" style="width: 200px; height: 200px; border: 3px dashed #aaa">
        <p style="text-align:center; color:#aaa; margin:2em">Drop files here</p>
      
      </div>

      <div class="progress" style="width:200px;">
        <div class="determinate" id="upload_progress" style="width: 0%"></div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    "use strict";
    var dropZone = document.getElementById('dropZone');

    // Optional.   Show the copy icon when dragging over.  Seems to only work for chrome.
    dropZone.addEventListener('dragover', function(e) {
        e.stopPropagation();
        e.preventDefault();
        e.dataTransfer.dropEffect = 'copy';
    });

    // Get file data on drop
    dropZone.addEventListener('drop', function(e) {
        e.stopPropagation();
        e.preventDefault();
        var files = e.dataTransfer.files; // Array of all files

        for (var i=0, file; file=files[i]; i++) {

          console.log('file.type:', file.type); // Note: file is a Blob() object

          var reader = new FileReader();

              reader.onload = function(e) { // onload => finished reading file data.
                let file_reader = e.target; 
                let file_buffer_bytes = file_reader.result;
              }
          
          // reader.readAsDataURL(file); // start reading the file data.
          // reader.readAsArrayBuffer(file);

          const formData = new FormData();
          formData.append("username", "someusername");
          formData.append("accountnum", 123456);
          formData.append("userfile", file);
          
          // Sending request using XMLHttpRequest.
          // Note: There is no way for fetch to track upload progress (currently ). For that purpose, please use XMLHttpRequest,
          let upload_progress_element = document.getElementById('upload_progress')
          upload_progress_element.style.width = '0%';
          
          const request = new XMLHttpRequest();
          request.upload.onprogress = function(event) {
            let progressPct = parseInt( (event.loaded/event.total * 100).toFixed(), 10);

            console.log(`Uploaded ${event.loaded} of ${event.total} bytes; ${(event.loaded/event.total * 100).toFixed()}%`);
            upload_progress_element.style.width = `${progressPct}%`;
          };
          request.upload.onload = function() {
            upload_progress_element.style.width = '100%';
            console.log(`Upload finished successfully.`);
          };
          request.upload.onerror = function() {
            console.log(`Error during the upload: ${xhr.status}`);
          };
          request.open("POST", "http://localhost:31000/api/test/upload-file");
          request.send(formData);

          // Sending request using fetch API.
          // Note: There is no way for fetch to track upload progress (currently ). For that purpose, please use XMLHttpRequest,
          // fetch('http://localhost:31000/api/test/upload-file', {
          //   method: 'POST',
          //   body: formData
          // })
          // .then((response) => response)
          // .then((result) => {
          //   console.log('Success:', result);
          // })
          // .catch((error) => {
          //   console.error('Error:', error);
          // });
          

          // 
          // if (file.type.match(/image.*/)) {
          //     var reader = new FileReader();
          //     reader.onload = function(e2) {
          //         // finished reading file data.
          //         var img = document.createElement('img');
          //         img.src= e2.target.result;
          //         document.body.appendChild(img);
          //     }
          //     reader.readAsDataURL(file); // start reading the file data.
          // }
        }
    });
  </script>
  
{% endblock %}
