{% extends "_layouts/_home.html" %}

{% block title %}Lightbox{% endblock %}

{% block content %}
    <div class="page-content">

      <a href="/images/glight-samples/sample1.png" class="glightbox">
        <img src="/images/glight-samples/sample1-thumbnail.png" alt="image" />
      </a>
      


      <a href="/images/glight-samples/sample1.png" class="glightbox" data-gallery="gallery1">
        <img src="/images/glight-samples/sample1-thumbnail.png" alt="image" />
      </a>
      <a href="/images/glight-samples/sample2.jpg" class="glightbox" data-gallery="gallery1">
        <img src="/images/glight-samples/sample2-thumbnail.jpg" alt="image" />
      </a>

    </div>
{% endblock %}

{%- block head_link %}
  <link type="text/css" rel="stylesheet" href="/css/glightbox/glightbox.min.css" />
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/js/glightbox/glightbox.min.js"></script>
  <script type="text/javascript">
    const lightbox = GLightbox({
      touchNavigation: true,
      loop: true,
      autoplayVideos: true
    });
  </script>
  
{% endblock %}