{% extends "_layouts/_home.html" %}

{% block title %}Home{% endblock %}

{% block head_link %}
<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}


{% block content %}
<div class="page-content">
  <!-- Your content goes here -->

  <div class="card-holder">

    <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        Update database
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Apply updates to database.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div>

    <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        Help
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Describe what this module do and how to use this module.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/database/help">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div>

    <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        Database administration
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Administer database
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/database/help">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div>

    <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        User<br/>administration
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Administer user (Add user, disable user, reset password)
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/database/help">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div>

  </div>

</div>
{% endblock %}

{% block scripts %}{% endblock %}