{% extends "_layouts/_home.html" %}
{% set ID, TITLE, URL, DESCRIPTION, PARENT_ID = 0, 1, 2, 3, 4 %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="page-content">
  <!-- Your content goes here -->
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <span style="font-size:1.67em">Your applications</span>
      </div>
    </div>

    <div class="row">
    
      {% for menu_item in g.menu_items %}
      {% if menu_item[PARENT_ID] != None %}
      <div class="col s12 m4">
        <a href="{{ menu_item[URL] }}">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ menu_item[TITLE] }}</span>
            <p>{{ menu_item[DESCRIPTION] }}</p>
          </div>
        </div><!-- end-of-card -->
        </a>
      </div>
      {% endif %}
      {% endfor %}

      <!-- 
      <div class="col s4 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      -->

    </div><!-- end-of-row -->
  </div><!-- end-of-container -->

  <div class="card-holder">

    <!--
    <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        Update database
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Apply updates to database.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div>

    <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        Help
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Describe what this module do and how to use this module.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/database/help">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div>

    <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        Database administration
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Administer database
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/database/help">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div>

    <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        User<br/>administration
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Administer user (Add user, disable user, reset password)
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/database/help">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div>
    -->
  </div>

</div><!-- end-of-page-content -->
{% endblock %}

{% block scripts %}{% endblock %}