{% extends "_layouts/_home.html" %}

{% block title %}Shopping cart{% endblock %}

{% block content %}
    <div class="page-content">

      <div class="container">
        <div class="row">

          <div class="col s4">

            <div id="srcDropZone" class="drop-zone" style="width: 200px; height: 200px; border: 3px dashed #aaa; display: flex; justify-content: center;align-items: center;">
              <ul class="collection">
              
                <li class="collection-item asset-class" draggable="true">
                    <i class="material-icons" style="vertical-align: bottom; cursor:grab;" >drag_indicator</i>Stocks
                </li>
  
                <li class="collection-item asset-class">
                  <div draggable="true" style="cursor:grab">
                    <i class="material-icons" style="vertical-align: bottom; cursor:grab;" >drag_indicator</i>Bonds
                  </div>
                </li>
  
                <li class="collection-item asset-class">
                  <div draggable="true">
                    <i class="material-icons" style="vertical-align: bottom; cursor:move;" >drag_indicator</i>Commodity
                  </div>
                </li>
  
                <li class="collection-item asset-class">
                  <div>
                    <i class="material-icons" style="vertical-align: bottom; cursor:move;" >drag_indicator</i>Crypto
                  </div>
                </li>
  
              </ul>

            </div>
            
          </div>

          <div class="col s4">
            <div id="dropZone" class="drop-zone" style="width: 200px; height: 200px; border: 3px dashed #aaa; display: flex; justify-content: center;align-items: center;">
              <i class="material-icons" style="color:#aaa; font-size: 5em;z-index: -1;">shopping_cart</i>
              <ul style="display: none;">
                <li class="collection-item asset-class" >
                  <div draggable="true">
                    <i class="material-icons" style="vertical-align: bottom; cursor:move;" >drag_indicator</i>Crypto
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div><!-- end-of-row -->
      </div><!-- end-of-container -->
    </div><!-- end-of-page-content -->
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    "use strict";
    function dragstart_handler(ev) {
      // Add the target element's id to the data transfer object
      // ev.dataTransfer.setData("text/plain", ev.target.id);
      // if (ev.target.nodeName != 'DIV') {
      //   event.preventDefault(); // Cancel the drag action
      //   return;
      // }
        
      
      
      
      let nodeText = ev.target.childNodes[2].textContent.trim();
      ev.dataTransfer.setData("src_id", nodeText);
      console.log("Dragging:", nodeText);
      // ev.dataTransfer.setData("text/plain", ev.target.innerText);
      // ev.dataTransfer.setData("text/html", ev.target.outerHTML);
      // ev.dataTransfer.setData("text/uri-list", ev.target.ownerDocument.location.href);
      ev.dataTransfer.dropEffect = "copy";
      debugger;
    }

    window.addEventListener('DOMContentLoaded', () => {
      // Get the element by id
      // const element = document.getElementById("p1");
      // Add the ondragstart event listener
      // element.addEventListener("dragstart", dragstart_handler);

      let items = document.getElementsByClassName('collection-item asset-class');
      for (let i = 0; i < items.length; i++) {
        items[i].addEventListener('dragstart', dragstart_handler);
      }
    });


    // var dropZone = document.getElementById('dropZone');
    var dropZoneElements = document.getElementsByClassName('drop-zone');
    
    // Optional.   Show the copy icon when dragging over.
    function dragOverHandler(e) {
      e.stopPropagation();
      e.preventDefault();
      e.dataTransfer.dropEffect = 'move';
    }
    function dragEnterHandler(e) {
      e.stopPropagation();
      e.preventDefault();
      e.target.style.borderColor = '#0aa';
    }
    function dragLeaveHandler(e) {
      e.stopPropagation();
      e.preventDefault();
      e.target.style.borderColor = '#aaa';
    }
    function dragEndHandler(e) {
      e.stopPropagation();
        e.preventDefault();

        // e.target.style.borderColor = '#aaa';
        console.debug("dragend");
    }
    function dropHandler(e) {
      e.stopPropagation();
      e.preventDefault();

      // const data = e.dataTransfer.getData("text/plain");
      // e.target.appendChild(document.getElementById(data));
      const data = e.dataTransfer.getData("src_id");
      console.log(data);

      e.target.style.borderColor = '#aaa';
    }


    for (const dropZone of document.getElementsByClassName('drop-zone')) {
      dropZone.addEventListener('dragover', dragOverHandler);
      dropZone.addEventListener('dragover', dragEnterHandler);
      dropZone.addEventListener('dragleave', dragLeaveHandler);
      dropZone.addEventListener('dragend', dragEndHandler);
      dropZone.addEventListener('drop', dropHandler);
    }

    // // Optional.   Show the copy icon when dragging over.
    // dropZone.addEventListener('dragover', function(e) {
    //     e.stopPropagation();
    //     e.preventDefault();
    //     e.dataTransfer.dropEffect = 'move';
    // });

    // // Optional. UI updates
    // dropZone.addEventListener('dragenter', function(e) {
    //     e.stopPropagation();
    //     e.preventDefault();
    //     e.target.style.borderColor = '#0aa';
    // });
    // // Optional. UI updates
    // dropZone.addEventListener('dragleave', function(e) {
    //     e.stopPropagation();
    //     e.preventDefault();
    //     e.target.style.borderColor = '#aaa';
    // });
    //   // Optional. UI updates
    //   dropZone.addEventListener('dragend', function(e) {
    //     e.stopPropagation();
    //     e.preventDefault();
    //     // e.target.style.borderColor = '#aaa';
    //     console.debug("dragend");
    // });

    // Get file data on drop
    // dropZone.addEventListener('drop', function(e) {
    //     e.stopPropagation();
    //     e.preventDefault();

    //     // const data = e.dataTransfer.getData("text/plain");
    //     // e.target.appendChild(document.getElementById(data));
    //     const data = e.dataTransfer.getData("src_id");
    //     console.log(data);

    //     e.target.style.borderColor = '#aaa';
    // });
  </script>
  
{% endblock %}
