{% extends "_layouts/_home.html" %}

{% block title %}Database dashboard{% endblock %}

{% block head_link %}{% endblock %}

{% block content %}

<div class="page-content">

  <div class="card-holder container row">

    <div class="display-card col s3">
      <div class="card-panel">
        <div class="header">
          <span class="title">Tables</span>
        </div>
        <div class="content">
          <span class="counter-text">{{model.table_count}}</span>
        </div>
      </div>  
    </div>

    <div class="display-card col s3">
      <div class="card-panel">
        <div class="header">
          <span class="title">Views</span>
        </div>
        <div class="content">
          <span class="counter-text">{{model.view_count}}</span>
        </div>
      </div>  
    </div>

    <div class="display-card col s3">
      <div class="card-panel">
        <div class="header">
          <span class="title">Stored procedures</span>
        </div>
        <div class="content">
          <span class="counter-text">{{model.procedure_count}}</span>
        </div>
      </div>  
    </div>

    <div class="display-card col s3">
      <div class="card-panel">
        <div class="header">
          <span class="title">Functions</span>
        </div>
        <div class="content">
          <span class="counter-text">{{model.function_count}}</span>
        </div>
      </div>  
    </div>

    <!-- Notes -->

    <div class="display-card col s3">
      <div class="card-panel blue-grey lighten-5">
        <div class="header">
          <span class="title">Note</span>
        </div>
        <p class="blue-grey-text">
          Currently we are only using one database. 🤔
        </p>
        <p class="blue-grey-text">
          If we are using more than one, this should display all databases.
        </p>
      </div>  
    </div>

    <div class="display-card col s3">
      <div class="card-panel blue-grey lighten-5">
        <div class="header">
          <span class="title">Note</span>
        </div>
        <p class="blue-grey-text">
          We would also want to know some statistics about the database.
        </p>
        <p class="blue-grey-text">
          For example, utilization, index fragmentation, heavy usage tables, space consumption...
        </p>
      </div>  
    </div>

    <!-- Maybe this update database should be more automated (as part of the process)
    <div class="display-card col s3">
      <div class="card-panel">
        <div class="header">
          <span class="title">Pending database updates</span>
        </div>
        <div class="content">
          <span class="counter-text">{{model.unapplied_db_migrate_count}}</span>
        </div>
        <hr/>
        <div class="actions">
          <a href="/database/update">View updates</a>
        </div>
      </div>  
    </div>
    -->


    <!-- Example of default card
    <div class="card blue-grey darken-1 col s3">
      <div class="card-content white-text">
        <span class="card-title">Pending database updates</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div> 
    -->
    
  </div><!-- end of card-holder -->

</div><!-- end of page-content -->

{% endblock %}

{% block scripts %}{% endblock %}