{% extends "_layouts/_no_tabs.html" %}

{% block title %}Database help{% endblock %}

{% block head_link %}<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}


{% block drawer %}
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{self.title()}}</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/mysql">MySql Administration</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
  </nav>
</div>
{% endblock %}

{% block tabs %}
<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
  <a href="#scroll-tab-1" class="mdl-layout__tab is-active">About</a>
  <a href="#scroll-tab-2" class="mdl-layout__tab">Tab 2</a>
  <a href="#scroll-tab-3" class="mdl-layout__tab">Tab 3</a>
  <a href="#scroll-tab-4" class="mdl-layout__tab">Tab 4</a>
  <a href="#scroll-tab-5" class="mdl-layout__tab">Tab 5</a>
  <a href="#scroll-tab-6" class="mdl-layout__tab">Tab 6</a>
</div>
{% endblock %}

{% block content %}



<div class="demo-card-event mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h4>
        Featured event:<br>
        May 24, 2016<br>
        7-11pm
      </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Add to Calendar
      </a>
      <div class="mdl-layout-spacer"></div>
      <i class="material-icons">event</i>
    </div>
</div>

<section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
    <div class="page-content">
        <!-- Your content goes here -->

        <h1>What is database module (and what is it suppose to do)?</h1>

        <h3>What is this page suppose to do?</h3>

        <p>Or rather what is the database module?</p>

        <p>The database module is suppose to be a place where we apply database scripts.</p>

        <p>Here's how it works.</p>

        <p>We write scripts that we want to apply to database in app/data/database_scripts folder.
            <br/>
            Divided by create table/view/stored proc/functions etc... etc...
        </p>

        <p>
            On application startup (or manual trigger), we scan the scripts in the folder and note them in applied scripts.

        </p>
<!-- 
        <div class="action-panel">
            <form method="post" action="/api/test/mysql">
                <h1>Test</h1>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Test</button>
            </form>
        </div> -->

    </div>
</section>

<section class="mdl-layout__tab-panel" id="scroll-tab-2">
    <div class="page-content">
        <!-- Your content goes here -->Tab content 2




    </div>
</section>

{% endblock %}

{% block scripts %}{% endblock %}