{% extends "_layouts/_home.html" %}

{% block title %}Database{% endblock %}

{% block head_link %}
<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}

{% block drawer %}
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{self.title()}}</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/mysql">MySql Administration</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
  </nav>
</div>
{% endblock %}


{% block content %}
<div class="page-content">
  <!-- Your content goes here -->

  <div class="card-holder">

    <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        Database dashboard
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Apply updates to database.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/database/dashboard">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div>

    <!-- <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        Update database
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Apply updates to database.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div> -->

    <div class="action-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        Help
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Describe what this module do and how to use this module.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/database/help">
          view <span class="material-icons">arrow_circle_right</span>
        </a>
      </div>
    </div>

  </div>

  <!-- <h3>What is this page suppose to do?</h3>

    <p>Or rather what is the database module?</p>

    <p>The database module is suppose to be a place where we apply database scripts.</p>

    <p>Here's how it works.</p>

    <p>We write scripts that we want to apply to database in app/data/database_scripts folder.
        <br/>
        Divided by create table/view/stored proc/functions etc... etc...
    </p>

    <p></p>

    <div class="action-panel">
        <form method="post" action="/api/test/mysql">
            <h1>Test</h1>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Test</button>
        </form>
    </div> -->

</div>

{% endblock %}

{% block scripts %}{% endblock %}