{% extends "_layouts/_home.html" %}

{% block title %}Add Trading API Access Token{% endblock %}

{% block content %}
    <div class="page-content">

      <div class="breadcrumb-row">
        <a href="/trade/trading-api-list">Trading API List</a>
        <span class="material-icons">chevron_right</span>
        <span>Add Trading API Access Token</span>
      </div>

      <div class="container">

        <form method="post">
          <div class="row">
            <div class="input-field col s4">
              <select name="token_type">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Oanda (Paper)</option>
                <option value="1">Oanda (LIVE)</option>
                <option value="2">Alpaca</option>
                <option value="3">Lemon</option>
              </select>
              <label>Trading API Token Type</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <input id="token_name" name="token_name" type="text" class="validate">
              <label for="token_name">API token name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="text" id="token_value" name="token_value" class="validate">
              <label for="token_value">API token value</label>
            </div>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add
              <i class="material-icons right">add</i>
            </button>
          </div>

        </form>

      </div>
    </div><!-- end-of-page-content -->

    <div class="fixed-action-btn">
      <a href="/trade/add-trading-api" class="btn-floating btn-large blue tooltip" data-position="left" data-tooltip="Register trading API">
        <i class="large material-icons">add</i>
      </a>
    </div>
          
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    "use strict";
    document.addEventListener('DOMContentLoaded', function() {
      var tooltips = M.Tooltip.init(document.querySelectorAll('.tooltip'));
      var selects = M.FormSelect.init(document.querySelectorAll('select'));
    });
    </script>
{% endblock %}