{% extends "_layouts/_home.html" %}

{% block title %}Trade index{% endblock %}

{% block content %}

    <div class="page-content">

      {{ macros.shared_breadcrumb(breadcrumb_list) }}

      <div class="container">
        <div class="row">
          {% for instrument in instrument_list %}
          <div class="col s6">
            <img style="width:100%;" src="/images/external-charts/{{ instrument[2] }}-close-plot.png" alt="{{ instrument[2] }}" >
          </div>
          {% endfor %}
        </div>
      </div>

    </div><!-- end-of-page-content -->

{% endblock %}