{% extends "_layouts/_home.html" %}

{% block title %}Trading API List{% endblock %}

{% block content %}
    <div class="page-content">
      <div class="container">


        <div class="row">
          <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Item Name</th>
                  <th>Item Price</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div><!-- end-of-page-content -->

    <div class="fixed-action-btn">
      <a href="/trade/add-trading-api" class="btn-floating btn-large blue tooltip" data-position="left" data-tooltip="Register trading API">
        <i class="large material-icons">add</i>
      </a>
    </div>
          
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    "use strict";
    document.addEventListener('DOMContentLoaded', function() {
      var tooltips = M.Tooltip.init(document.querySelectorAll('.tooltip'));
    });
    </script>
{% endblock %}