{% extends "_layouts/_home.html" %}

{% block title %}Portfolios{% endblock %}

{% block head_link %}<link rel="stylesheet" href="/css/mdl/material.min.css" />
<link rel="stylesheet" href="/css/mdl/material.min.css" />{% endblock %}

{% block content %}

<div class="page-content">

  <!-- <div class="breadcrumb inline">
    <a href="/shared-data/dashboard">Dashboard</a>
    <span class="material-icons">chevron_right</span>
    <span>Market identifier codes</span>
  </div> -->

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col">

      <div class="card-holder">

        
        <div class="portfolio-card mdl-card mdl-shadow--2dp full-width">
          <div class="mdl-card__title">
            
            <span class="mdl-card__title-text">012932983</span>
          </div>
          <div class="mdl-card__supporting-text mdl-card--expand">
            <!-- <span class="counter-text">1</span> -->
          </div>

          
          <div class="mdl-grid full-width" style="background-color: #f5f5f5;">
            <div class="mdl-cell mdl-cell--3-col">Service model</div>
            <div class="mdl-cell mdl-cell--3-col">Strategy</div>
            <div class="mdl-cell mdl-cell--3-col">Reference currency</div>
            <div class="mdl-cell mdl-cell--3-col">session</div>

            <div class="mdl-cell mdl-cell--3-col">Market value</div>
            <div class="mdl-cell mdl-cell--3-col">Cash</div>
            <div class="mdl-cell mdl-cell--3-col">Performance</div>
            <div class="mdl-cell mdl-cell--3-col">Portfolio Quality</div>
          </div>


        </div> 
       

        <div class="display-card mdl-card mdl-shadow--2dp full-width">

        </div>
    
    
        <!-- 
        <div class="display-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <span class="mdl-card__title-text">Database version 2</span>
          </div>
          <div class="mdl-card__supporting-text mdl-card--expand">
            <span class="counter-text">1</span>
          </div>
        </div>
        -->
    
      </div>

    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
  </div>

  
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">

      {% if not country_list %}

      <div>
        <p>No data.</p>
        <form method="post">
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="action" value="Insert mic data">Insert MIC data</button>
        </form>
      </div>

      {% else %}

      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp user full-width" style="margin: 1em;">
        <thead>
          <tr>
            <th>s/n</th>
            <th class="mdl-data-table__cell--non-numeric full-width">Data</th>
          </tr>
        </thead>
        <tbody>
          {% for country in country_list %}
          <tr>
            <td>{{loop.index}}</td>
            <td class="mdl-data-table__cell--non-numeric" data-id="a"><a href="#">{{country}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>  
      
      {% endif %}

    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
  </div>
  


  <div class="mdl-mini-footer fab" style="width:50%">
    <div class="mdl-mini-footer--left-section">
      <!--
      <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
        <span class="visuallyhidden">Twitter</span>
      </button>
      <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
        <span class="visuallyhidden">Facebook</span>
      </button>
      <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
        <span class="visuallyhidden">Google Plus</span>
      </button>
      -->
      <form method="post">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="action" value="Create tables">Create tables</button>
      </form>
    </div>
    <div class="mdl-mini-footer--right-section">
      <a href="/shared-data/add" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}{% endblock %}