{% extends "_layouts/_home.html" %}

{% block title %}Investment{% endblock %}

{% block content %}
    <div class="page-content">
      <div class="container">
        <div class="row">
          <p>Investment dashboard page</p>
        </div>
        <div class="row">
          <p>Alerts (if any)</p>
        </div>
        <div class="row">
          <p>Total asset under management: nnn</p>

          <p>Number of markets traded: nnn</p>

          <p>Number of instruments traded: nnn</p>

          <p>Number of clients: nnn</p>
        
          <p>Number of portfolios: nnn</p>
        </div>
    </div><!-- end-of-page-content -->
{% endblock %}