{% import "./_macros/_default_macros.jinja" as macros with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Forums{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/css/materialize/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/site.css" />
    {%- block head_link %}{% endblock %}
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>
    {% block content %}Place content here{% endblock %}
    <script type="text/javascript" src="/js/materialize/materialize.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
    <script type="text/javascript">
    "use strict";
    </script>
    {%- block scripts %}{% endblock %}
  </body>
</html>
